* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #99A799;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #99A799;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float : left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 75px;
    margin-right: 75px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: comic serif;
    color: #ADC2A9 ;
}

h2 {
    font-family: comic serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: #D3E4CD;
    width: 100%;
    line-height: 50px;
}

img {
    float: left;
}

a.tbl-biru {
    background: #181D31;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #9b8c63;
    text-decoration: none;
}

a.tbl-pink {
    background: #9b8c63;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #181D31;
    text-decoration: none;
}

p {
    margin : 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

h3 {
        font-family: comic serif;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 20px;
        color: #D3E4CD;
        width: 100%;
        line-height: 50px;
}

h4 {
    font-family: comic serif;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 20px;
        color: #D3E4CD;
        width: 100%;
        line-height: 50px;
        float: right;
        
}

/* style banner */ 
.banner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(405px, auto);
}

.bannner-kanan {
    grid-column: 6/13;
}